doctype html
html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title 웹디자이너 임예은 포트폴리오
        include includes/comm_style.pug
    body 
        include includes/comm_header.pug
        h1(class="d-none") about
        main 
          hgroup(class="text-center py-2")
                h2(class="cpas") web
                article 
                    p 메인페이지
        include includes/comm_footer.pug