doctype html
html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title 웹디자이너 임예은 포트폴리오
        include includes/comm_style.pug
    body 
        include includes/comm_header.pug
        h1(class="d-none") portfolio
        main 
          hgroup(class="text-center py-2")
                h2(class="caps") PORTFOLIO:웹,그래픽
                article 
                  h2(class="container mx-suto d-flex flex-column text-center")  
                        ul(class="web-grid") 
                            li 
                            img(src="images/cover1.png" alt="")
                            li 
                            img(src="images/cover1.png" alt="")
                            li 
                            img(src="images/cover1.png" alt="")
                            li 
                            img(src="images/cover1.png" alt="")
        include includes/comm_footer.pug