@charset "utf-8";

:root{
  --primary-color: black;
  --secondery-color: white;
  --third-color:gray;
  --bg-blue:rgb(23, 165, 209);
}

/*================= common style ==============*/
.d-none{
    display:none;
}
.d-flex{
    display: flex;
}
.d-grid{
    display:grid;
}
.flex-column{
    flex-direction: column;
}
.justify-center{
    justify-content: center;
}
.justify-between{
    justify-content: space-between;
}
.justify-right{
    justify-content: right;
}
.h600{
    height:600px;
    background: url("../images/cover_img.jpg") no-repeat center/cover ;
}
.text-center{
    text-align: center;
}
.text-white{
    color: white;
}
.caps{
    text-transform: capitalize;
}
.upper{
    text-transform:uppercase;
}
.gap1{
    gap: 1rem;
}
.gap2{
    gap: 2rem;
}
.gap3{
    gap: 3rem;
}
.mx-auto{
    margin:auto 0;
}
.my1{
    margin:0 1rem;
}
.my2{
    margin:0 2rem;
}
.my3{
    margin:0 3rem;
}
.mx1{
    margin:1rem 0;
}
.mx2{
    margin:2rem 0;
}
.mx3{
    margin:3rem 0;
}
.py1{
    padding:0 1rem;
}
.py2{
    padding:0 2rem;
}
.py3{
    padding:0 3rem;
}
/*=================header==============*/
.container{
    max-width:1440px;
    justify-content: space-between;
}

.slogan_title{
    font-size: 6rem;
    margin: 5rem 0 0 0;
    text-align: center;
}

.slogan_text{
    text-align: center;
    /* justify-content: center; */
    font-size: 1.5rem;
    text-shadow: 1px 1px 3px var(--primary-color);
}

.btn_request{
    width:9rem;
    height:2rem;
    margin: 2rem 0 0 51.3rem;
    border-radius: 2rem;
    border:0;
    background: var(--primary-color);
    color:var(--secondery-color);
}


/*------------------main>about-----------------------*/


.avatar{
    width:300px;
    height: 300px;
    background: var(--third-color);
    border-radius:50%;

}

/*------------------  portfolio  -----------------------*/
/*------------------  conatct -----------------------*/
.contact-list{
    display:block;
    max-width:1440px;
    text-align: center;
    margin: 0 0 0 12rem;
}



.contact-list li{
    border-top: 1px dotted var(--primary-color);
    padding: 1rem 0;
}

.d-flex span{
    display:block;
    width:160px;
}

.d-flex textarea{
    flex: 0 0 50%;
}

.tip{
    color:var(--third-color);
}